<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <meta charset="UTF-8">
    <title>Add Contacts</title>

</head>
<body>
<div id="content">
    <!--side bar-->
    <!--    when user was login that time sidebar working-->
    <div data-th-if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar::sidebar}"></div>
    </div>


    <div class="grid  grid-cols-12">
        <div class="col-span-4 "></div>
        <!--        main div are center-->
        <div class="col-span-4">
            <div class="block  p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                <!---alert message-->
                <div data-th-replace="message::messagebox"></div>

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Add New Contact</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">This contact will be stored on cloud </p>

                <!-- this is form--->             <!--th:object use for access contactForm fields | note:  frist letter is small for ex: c --->

                <form data-th-action="@{'/user/contacts/add'}" method="post"
                      class="mt-8" th:object="${contactForm}" enctype="multipart/form-data" novalidate>
                    <!--name field-->
                    <div class="mb-2">
                        <label for="name" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Contact Name</label>
                        <!--  th:field="*{}" to access the field of contactform-->

                        <input  type="text" id="name" th:field="*{name}"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name" required />

                        <!--   form validation when data is not filling to the register from-->
                                                    <p data-th-if="${#fields.hasErrors('name')}"
                                                       data-th-errors="*{name}"
                                                       class="text-red-600 px-1 py-2"> <p/>


                    </div>
                    <!--                        email field-->

                    <div class="mb-2">
                        <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Contact Email</label>
                        <input name="email" type="email" id="email" th:field="*{email}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@gmail.com" required />

                        <p data-th-if="${#fields.hasErrors('email')}"
                           data-th-errors="*{email}"
                           class="text-red-600 px-1 py-2"> <p/>

                    </div>

                    <!---phone field-->

                    <div class="mb-2">
                        <label for="phone" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Contact Phone</label>
                        <input type="number" id="phone" th:field="*{phoneNumber}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />

                             <p data-th-if="${#fields.hasErrors('phoneNumber')}"
                              data-th-errors="*{phoneNumber}"
                              class="text-red-600 px-1 py-2"> <p/>

                    </div>

                    <!---address field-->
                    <div class="mb-2">
                        <label for="message" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Contact Address</label>
                        <textarea id="message"  rows="4"th:field="*{address}" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Address of contact "></textarea>

                        <p data-th-if="${#fields.hasErrors('address')}"
                           data-th-errors="*{address}"
                           class="text-red-600 px-1 py-2"> <p/>
                    </div>

                    <!--- description field-->
                    <div class="mb-2">
                        <label for="message1" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Contact Description</label>
                        <textarea id="message1"  rows="4" th:field="*{description}" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write about your contact"></textarea>

                    </div>

                    <!--  Contact image field-->
                    <div>
                    <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white" >Upload image</label>
                    <input id="image_file_input" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"  th:field="*{contactImage}" type="file">

                        <img class="max-h-52 mx-auto rounded-lg shadow m-3" src="" id="upload_image_preview" />

                        <p data-th-if="${#fields.hasErrors('contactImage')}"
                           data-th-errors="*{contactImage}"
                           class="text-red-600 px-1 py-2"> <p/>

                    </div>

                    </br>

                    <!--                        favourite contact field-->
                    <div class="flex items-center mb-2">
                        <input id="default-checkbox" th:field="*{favourite}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Favourite Contact</label>
                    </div>

                    <!--submit button-->
                    <div class="mb-3 flex justify-center space-x-3">
                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add contact</button>
                        <button type="reset" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset</button>

                    </div>

                </form>

            </div>

        </div>
    </div>

</div>

<script data-th-src="@{'/js/admin.js'}"></script>
<script>
    console.log("profile page");

</script>

</body>
</html>